.right-panel {margin-left: 12px;}
.left-menu-section { left:-280px;}
.header .masagebox{ display:block;}
.col { float:left; width:46%;}
.add-agents-btn ul li{ background:#a10f06; line-height:30px; float:left; margin-right:1px;}
