{% extends "UsersUserManageBundle::layout.html.twig" %}

{% block content %}
 <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
 <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"> </script> 
 
  {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
   <!--  End Mid-section Code-->
  <div class="footer">© 2014 All Rights Reserved</div>
{% endblock %}